<UIroot>
	<atlas binary="./WfAssets/ui_atlas.atlas">
	</atlas>
    <screen viewmodelFile="./WfAssets/settings.lua" viewmodelFunction="GetSettingsViewModel">
        <stackpanel dockPoint="centre" orientation = "vertical">
            <text font="default" fontSize="32pts" paddingTop="20" paddingBottom="20" paddingLeft="20" paddingRight="20" colour="0,0,0,255">
                Settings
            </text>
            <stackpanel paddingLeft="20" paddingTop="20" paddingRight="20" orientation="horizontal">
                <text font="default" fontSize="16pts" paddingTop="20" paddingBottom="20" paddingRight="20" colour="0,0,0,255">
                    Camera Zoom: 
                </text>
                <slider paddingBottom="20" val="{ZoomVal}" minVal="1.0" maxVal="2.0"/>
            </stackpanel>
        </stackpanel>
    </screen>
</UIroot>